body{
  background-color:#C1F0D2;
}

.wrap {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: serif;
}

h1 {
  color:#1D2F9E;
  font-size: 50px;
  text-shadow: 0 2px 5px rgba(0,0,0,.4);
}

a {
  font-size: 14px;
  color: #1D2F9E;

  &:hover {color: pink;}
}

.key {
  padding-bottom: 50px;
  color: #1D2F9E;
  font-size: 20px;
}

.key-item:nth-last-child(2){padding-bottom: 20px;}

.section {
  position: relative;
  height: 96px;
  margin-bottom: 50px;
  transform-style: preserve-3d;
  perspective: 9999px;
  transform: translateZ(0);
  cursor: pointer;
}

.section-item {
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  background: #d4fde2;
  border: 5px; #F485C7;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.1);
  transition: transform 1s ease-out;
  backface-visibility: hidden;
}

.section-item_back {
  backface-visibility: visible;
  border-color:#1D2F9E;
  z-index: -1;
}

.section:hover .section-item {transform: rotateY(180deg);}

code {
  display: block;
  color: #1D2F9E;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.section-item_back code {
  color:#1D2F9E;
  transform: scaleX(-1);
}

caption {
  font-family:courier;
}
