body{
  background-color:#C1F0D2;
}

h1{
  font-family: sans-serif;
}

.wrap {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family:sans-serif;
}

a {
  font-size: 14px;
  color: #1D2F9E;

  &:hover {color: pink;}
}

.key {
  padding-bottom: 50px;
  color: #1D2F9E;
  font-size: 20px;
}

.key-item:nth-last-child(2){padding-bottom: 50px;}

.section {
  position: relative;
  height: 96px;
  margin-bottom: 50px;
  transform-style: preserve-3d;
  perspective: 9999px;
  transform: translateZ(0);
  cursor: pointer;
}

.section-item {
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  background: #d4fde2;
  border: 5px; #F485C7;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.1);
  transition: transform 1s ease-out;
  backface-visibility: hidden;
}

.section-item_back {
  backface-visibility: visible;
  border-color:#1D2F9E;
  z-index: -1;
}

.section:hover .section-item {transform: rotateY(180deg);}

code {
  display: block;
  color: #1D2F9E;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.section-item_back code {
  color:#1D2F9E;
  transform: scaleX(-1);
}

caption {
  font-family:courier;
}


.typewriter h2{
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
=======
.icons{
  width:60px;
  height:60px;
  padding:10px;
}

#contact{
  font-size: 24px;
  text-align: center;
}

#myCarousel{
  margin-right:30px;

}
